########################
## ARQUIVOS SENSÍVELS ##
########################

# DotEnv configuration
.env

# Credentials drive / google cloud
#credentials.json
############################
## FIM ARQUIVOS SENSÍVELS ##
############################