<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image pe-2 mt-2 me-2">
                <img src='{{ profile_image }}' class="rounded" width="130">
            </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
                <span>{{ current_user.email }}</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Skills</span>
                        <span class="number1">0</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span class="rating">Posts</span>
                        <span class="number3">0</span>
                    </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center">
                    <a href="{{ url_for('perfil_editar') }}"><button class="btn btn-sm btn-outline-primary w-100">Editar Perfil</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>