<form action="" method="post" class="border p-4 mt-2">
    {{ form_criar_conta.csrf_token }}
    <legend>Criar conta</legend>
    <fieldset>
        <div class="form-group">
            {{ form_criar_conta.username.label (class='form-control-label') }}
            {% if form_criar_conta.username.errors %}
                {{ form_criar_conta.username (class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for erro in form_criar_conta.username.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_criar_conta.username (class='form-control') }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_criar_conta.email.label (class='form-control-label') }}
            {% if form_criar_conta.email.errors %}
                {{ form_criar_conta.email (class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for erro in form_criar_conta.email.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_criar_conta.email (class='form-control') }}
            {% endif %}

        </div>

        <div class="form-group">
            {{ form_criar_conta.senha.label (class='form-control-label') }}
            {% if form_criar_conta.senha.errors %}
                {{ form_criar_conta.senha (class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for erro in form_criar_conta.senha.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_criar_conta.senha (class='form-control') }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_criar_conta.senha_confimacao.label (class='form-control-label') }}
            {{ form_criar_conta.senha_confimacao (class='form-control') }}
        </div>
    </fieldset>
    {{ form_criar_conta.btn_submit_criar_conta (class='btn btn-primary mt-2') }}
</form>