{% extends 'base.html' %}

{% block body %}

    <div class="container">

        <div class="row border rounded mt-3 p-3 my-post">
            <div class="column col-3">
                <div class="image pb-2">
                    <img src='{{ url_for('static', filename='img_profiles/{}'.format(post.author.user_photo)) }}'
                         class="rounded" width="130">
                </div>

                <p>Escrito por: <strong>{{ post.author.username }}</strong></p>

                {% if current_user.skills not in '0' %}
                    {% for skill in current_user.skills.split(';') %}
                        {% print('*' + skill) %}
                    {% endfor %}
                {% endif %}


            </div>

            <div class="column col-9">
                <h3>
                    {{ post.post_title }}

                    <small class="text-muted" style="font-size: 14px">
                        {% if form_new_post %}
                            - <a href="#editar_post">Editar</a>  / <a href="modal_excluir.html" data-bs-toggle="modal" data-bs-target="#Exluir">Excluir</a>
                        {% endif %}
                    </small>


                </h3>
                <small> - Data de Criação: {{ post.post_created_at.strftime('%d/%m/%Y às %H:%M:%S') }}</small>
                <br/>
                <p>{{ post.post_text }}</p>
            </div>
        </div>

    </div>

    {% if post %}
        {% include 'form_new_post.html' %}
    {% endif %}

    {% include 'modal_excluir.html' %}

{% endblock %}